In [6]:
!pip install -r requirements.txt

Collecting psycopg2-binary==2.9.3
  Downloading psycopg2_binary-2.9.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 38.2 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/opt/app-root/bin/python3.8 -m pip install --upgrade pip' command.

In [7]:
from connection_pool_singleton import ConnectionPoolSingleton
from anomaly_data_service import AnomalyDataService

In [8]:
# Create an instance of the class AnomalyDataService
query = AnomalyDataService

In [9]:
# Select all rows from the anomaly table and reading it into a pandas dataframe
df_all_rows = query.get_all_data()
df_all_rows.head()

,sensortimestamp,groupname,sensor_25,sensor_11,sensor_36,sensor_34,machine_status
0,2018-05-23 22:23:00,3,699.4477,41.36492,336.7599,174.5694,0
1,2018-05-23 22:24:00,3,699.0791,41.44566,332.5014,173.8312,0
2,2018-05-23 22:25:00,3,697.1430,41.37920,335.6303,176.7784,0
3,2018-05-23 22:26:00,3,695.5363,41.17400,334.9510,175.4559,0
4,2018-05-23 22:27:00,3,698.4655,41.27746,338.9472,171.5354,0

In [10]:
# Select sensor 25 from the anomaly table and reading it into a pandas df
sensor_25 = query.get_sensor_25()
sensor_25.head()

   sensor_25
0   699.4477
1   699.0791
2   697.1430
3   695.5363
4   698.4655

In [11]:
# Select the minimum and maximum value after grouping by col_name = sensor_25 and groupname = 3
query.get_min_max(col_name='sensor_25', groupname='3')

The minimum value is:678.6206
The maximum value is:753.4195